.title {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

.group-button {
  display: flex;
  justify-content: space-around;
}

.play-button {
  height: 200px;
  width: 200px;
}

/* Style by ID */

#start-button {
  height: 150px;
  width: 150px;
  position: absolute;
  z-index: 2;
  margin-top: 125px;
  border-radius: 250px;
}

#top-left-button {
  background-color: blue;
  border-radius: 250px 0px 0px 0px;
}

#top-right-button {
  background-color: red;
  border-radius: 0px 250px 0px 0px;
}

#bottom-left-button {
  background-color: green;
  border-radius: 0px 0px 0px 250px;
}

#bottom-right-button {
  background-color: yellow;
  border-radius: 0px 0px 250px 0px;
}
